<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>大屏投射（请按F11全屏播放）</title>
    <style>
        body, html {
            width: 100%;
            height: 100%;
            margin: 0;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: black;
        }
        .div-class {
            border: 1px solid greenyellow;
            margin: 10px;
            width: 150px;
            height: 100px;

        }
    </style>
    <script>
        function updateTime() {
            document.getElementById('time').textContent = new Date().toLocaleString();
        }
        setInterval(updateTime, 1000);
    </script>
</head>
<body onload="updateTime()">
<div style="width: 100%;display: ruby">
    <h1 style="color: red;">放学信息显示屏系统欢迎您</h1>
    <h1 id="time" style="margin-left: 50px;color: yellow;"></h1>
</div>
<div style="width: 100%;color: cyan;">
    <h2>现在还未放学，请耐心等待</h2>
</div>
<div style="width: 100%;display: ruby;">
    <div th:each="item:${maps}" class="div-class">
        <div th:text="${item.getValue().name}" style="margin-top:30px;color: #f0f0f0"></div>
        <div th:if="${item.getValue().state == 0}" style="color: yellow">未放学</div>
        <div th:if="${item.getValue().state == 1}" style="color: cyan">已放学</div>
    </div>
</div>
</body>
</html>